* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.5;
}
body {
    font-family: 'Poppins', sans-serif;
}

.App {
    position: relative;
    overflow-x: clip;
}

.white__gradient {
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgba(255, 255, 255, 0.552);
    filter: blur(100px);
    border-radius: 50%;
    z-index: 2;
}
