* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --display: block;
  --red-color: red;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 25px;
}
body:hover::-webkit-scrollbar-thumb {
  background: #777676;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 25px;
}


svg {
  height: 16px;
  width: 16px;
}
header ul {
  list-style: none;
}
.face i,
.instagram i {
  font-size: 16px;
}
a {

  color: white;
  font-size: 13px;
}
header a {
text-decoration: none;
  color: white;
  font-size: 13px;
}
header {
  position: fixed;
  width: 100%;
  height: 118px;
  background: linear-gradient(-180deg, #f53d2d, #f63);
  z-index: 999;
}
header .header-one,
.header-two {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}
header .header-one .header-nav-one ul,
header .header-one .header-nav-one ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-one .header-nav-one .ul-nav-one li:nth-child(4) span {
  color: white;
  font-size: 13.5px;
  margin-left: 5px;
}
header .header-one .header-nav-one ul li .face,
header .header-one .header-nav-one ul li .instagram {
  display: inline-block;
}

.parent-tooltip {
  position: relative;
}
.parent-tooltip .tooltip-qr {
  position: absolute;
  width: 195px;
  background-color: white;
  padding-bottom: 10px;
  display: none;
}
.parent-tooltip .tooltip-qr .app {
  width: 195px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-inline: 10px;
}
.parent-tooltip .tooltip-qr .app img {
  padding-block-end: 5px;
}
.parent-tooltip:hover .tooltip-qr {
  animation: fadeIn 0.5s;
  display: block;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header .header-one .header-nav-one .ul-nav-one li a,
header .header-one .header-nav-one .ul-nav-two li a {
  padding: 4px;
}

header .header-one .header-nav-one .ul-nav-one li:nth-child(1),
header .header-one .header-nav-one .ul-nav-one li:nth-child(2),
header .header-one .header-nav-one .ul-nav-one li:nth-child(3) {
  margin-right: 10px;
}
header .header-one .header-nav-one .ul-nav-one li,
header .header-one .header-nav-one .ul-nav-two li {
  position: relative;
}
header .header-one .header-nav-one .ul-nav-two li:last-child::before {
  position: absolute;
  content: " \2503";
  color: rgba(255, 255, 255, 0.5);
  top: 2px;
  left: -10px;
}
header .header-one .header-nav-one .ul-nav-one li:nth-child(1)::after,
header .header-one .header-nav-one .ul-nav-one li:nth-child(2)::after,
header .header-one .header-nav-one .ul-nav-one li:nth-child(3)::after {
  position: absolute;
  content: " \2503";
  color: rgba(255, 255, 255, 0.5);
  right: -13px;
  top: 2px;
}
header .header-one .header-nav-one .ul-nav-two li:nth-child(3),
header .header-one .header-nav-one .ul-nav-two li:nth-child(4),
header .header-one .header-nav-one .ul-nav-two li:nth-child(5) {
  margin-right: 5px;
}
header .header-one .header-nav-one .ul-nav-two li a span {
  margin: 0 5px;
}
header .header-one .header-nav-one .ul-nav-two li:first-child a svg {
  fill: white;
}

#adverstiment {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1234;
  display: flex;
  justify-content: center;
  align-items: center;
}
#adverstiment .kaityNguyen {
  max-width: 455px;
  width: 80%;
  position: relative;
}
#adverstiment .kaityNguyen .swiper-pagination, #adverstiment .kaityNguyen .swiper-scrollbar {
  display: none;
}
#adverstiment .kaityNguyen  button {
  position: absolute;
  top: 0;
  color: black;
  right: -20px;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 2px 7px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
/* /////////////////////////////////////////////////////////////////////// */
header .header-two {
  padding-top: 16px;
}
header .header-two .icon-shopee a svg {
  width: 162px;
  height: 50px;
  fill: white;
}
header .header-two .icon-shopee a {
  padding-right: 40px;
  display: block;
}

header .header-two .header-middle {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 900px;
  padding-inline-end: 60px;
  
}
header .header-two .header-middle .header-form form {
  width: 100%;
  background-color: #fff;
  height: 2.5rem;
  display: flex;
  align-items: stretch;
  justify-content: center;
  
}
header .header-two .header-middle .header-form form input {
  flex: 1;
  outline: none;
  border: none;
  padding: 10px;
}
::placeholder {
  font-size: 13px;
}

header .header-two .header-middle .header-form form button {
  width: 60px;
  background-color: #f53d2d;
  border: none;
  margin: 4px;
  cursor: pointer;
}
header .header-two .header-middle .header-form form button i {
  color: white;
}
header .header-two .header-middle .header-product ul {
  display: flex;
  justify-content: space-between;
}
header .header-two .icon-cart {
  padding-right: 65px;
  padding-block-start: 15px;
  position: relative;
}
header .header-two .icon-cart .quantity {
  position: absolute;
  top: 0;
  left: 20px;
  color: orangered;
  background-color: white;
  padding-inline: 8px;
  border-radius: 50%;
}
header .header-two .icon-cart a {
  padding: 0 5px;
}
header .header-two .icon-cart a svg {
  width: 25px;
  height: 25px;
}
/* ///////////////////////////////////      main      /////////////////////////////////////////// */
main {
  padding-block-start: 150px;
  background-color: rgb(245, 245, 245);
  padding-bottom: 70px;
  border-bottom: 3px solid red;
}
main .first-section {
  background-color: white;
  margin-top: -32px;
}
main .first-section .main-first-section {
  display: flex;
  height: 240px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}
main .first-section .main-first-section .swiper {
  max-width: 750px;
  margin: 0;
}
main .first-section .main-first-section .swiper .swiper-scrollbar {
  display: none;
}

main .first-section .main-first-section .main-section-div-second {
  display: flex;
  flex-direction: column;
  height: 110px;
  width: 400px;
  margin-left: 7px;
}
main .first-section .main-first-section .main-section-div-second img {
  width: 100%;
  height: 100%;
}
main
  .first-section
  .main-first-section
  .main-section-div-second
  img:last-of-type {
  vertical-align: bottom;
  padding-top: 5px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  color: white;
  background-color: black;
  opacity: 0.3;
  display: none;
}
.swiper-button-next::after {
  margin-left: 15px;
  padding: 10px;
}
.swiper-button-prev::after {
  margin-right: 15px;
  padding: 10px;
}
.swiper-pagination-bullet-active {
  background-color: rgb(255, 51, 0);
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.swiper-scrollbar {
  width: 80%;
  bottom: 0;
}

.main-first-section:hover .swiper-button-next::after,
.main-first-section:hover .swiper-button-prev::after {
  display: block;
  animation: fadeInSlide 0.5s;
}
.third-section .main-third-section-mall .describe .swiper:hover .swiper-button-next::after,
.third-section .main-third-section-mall .describe .swiper:hover .swiper-button-prev::after {
  display: block;
  animation: fadeInSlide 0.5s;
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.3;
  }
}

main .first-section .main-second-section {
  padding-top: 20px;
  background-color: white;
  margin: 0 auto;
  max-width: 1200px;
}
main .first-section .main-second-section ul {
  display: flex;
  justify-content: space-around;
}
main .first-section .main-second-section ul li {
  list-style-type: none;
  width: 120px;
  padding-inline: 5px;
}
main .first-section .main-second-section ul li img {
  width: 45%;
  margin: 0 27px;
}
main .first-section .main-second-section ul li p {
  text-align: center;
  font-size: 13px;
  padding: 5px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  overflow: hidden;
  white-space: pre-line;
}
main .first-section .main-second-section ul li:hover {
  transform: translateY(-5px);
  transition: 0.2s;
}

main .second-section {
  background-color: rgb(245, 245, 245);
  padding-top: 20px;
}

main .second-section .main-second-section-item {
  margin: 0 auto;
  max-width: 1200px;
  background-color: white;
}
main .second-section .main-second-section-item h3 {
  padding: 20px;
}

main .second-section .main-second-section-item .row-item {
  position: relative;
}
main .second-section .main-second-section-item .row-item #previous {
  position: absolute;
  top: 50%;
  left: -1%;
  transform: translateY(-50%);
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  background: white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
  display: none;
}
main .second-section .main-second-section-item .row-item #next {
  position: absolute;
  top: 50%;
  right: -1%;
  transform: translateY(-50%);
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  background: white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
}
main .second-section .main-second-section-item .row-item:hover #previous {
  transform: scale(1.5) translateY(-35%);
}
main .second-section .main-second-section-item .row-item:hover #next {
  transform: scale(1.5) translateY(-35%);
}
main .second-section .main-second-section-item .row-item .first-row-item,
.second-row-item {
  display: flex;
  overflow: hidden;
}
.main-second-section-item .row-item .first-row-item .column,
.second-row-item .column {
  width: 120px;
  padding-inline: 5px;
  padding-block-end: 5px;
  flex: 0 0 auto;
  border: 1px solid rgb(245, 245, 245);
  box-shadow: 0 0 0 0 white;
  transition: box-shadow 0.3s ease;
}
.main-second-section-item .row-item .first-row-item .column img,
.second-row-item .column img {
  width: 70%;
  margin: 0 16px;
}
.main-second-section-item .row-item .first-row-item .column:hover,
.second-row-item .column:hover:not(.column:last-of-type) {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
.first-row-item .column p,
.second-row-item .column p {
  text-align: center;
  font-size: 13px;
  padding: 5px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  overflow: hidden;
  white-space: pre-line;
}

main .second-section .main-second-section-sale {
  background-color: white;
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 20px;
  padding-bottom: 10px;
} 
main .second-section .main-second-section-sale .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-section .main-second-section-sale {
  position: relative;
}
.second-section .main-second-section-sale .row-sale {
  display: flex;
  overflow: hidden;
  border-top: 1px solid rgb(245, 245, 245);
  padding-block: 10px;
}
.second-section .main-second-section-sale .row-sale .previous {
  position: absolute;
  top: 50%;
  left: -15px;
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  background: white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
  display: none;
}
 h5 {
  color:  red;
  font-weight: 100;
}
.title {
  padding: 20px;
}
.second-section .main-second-section-sale:hover .row-sale .previous {
  transform: scale(1.5) translateY(-10%);
}
.second-section .main-second-section-sale .row-sale .next{
  position: absolute;
  top: 50%;
  right: -15px;
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  background: white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
}
.second-section .main-second-section-sale:hover .row-sale .next {
  transform: scale(1.5) translateY(-10%);
}
.second-section .main-second-section-sale .row-sale .first-row-sale {
  width: 200px;
  flex: 0 0 auto;
  padding-inline: 10px;
}
.second-section .main-second-section-sale .row-sale .first-row-sale img {
  width: 100%;
}
.second-section .main-second-section-sale .row-sale .first-row-sale .price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.second-section .main-second-section-sale .row-sale .first-row-sale h3 {
  color: red;
  font-weight: 100;
  position: relative;
}
.second-section .main-second-section-sale .row-sale .first-row-sale h3::before {
  content: "đ";
  position: absolute;
  top: 0;
  left: -10px;
  text-decoration:underline;
  font-size: 12.5px;
}
.row-sale .first-row-sale .price .sale {
  color: white;
  font-size: 11.5px;
  height: 14px;
  text-align: center;
  z-index: 3;
}
.row-sale .first-row-sale .price .red {
  background-color: red;
position: absolute;
  left: 0;
  width: 52px;
  height: 14px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  /* border-top-right-radius: 55%;
    border-bottom-right-radius: 55%; */
  bottom: 0;
  z-index: 2;
}
.row-sale .first-row-sale .price p:last-child {
  border-radius: 20px;
  position: absolute;
  background-color: #ffbda6;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: 14px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}


.second-section .main-second-section-ads {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.third-section {
  background-color: rgb(245, 245, 245);
  padding-top: 20px;
}
.third-section .main-third-section-mall {
  margin: 0 auto;
  max-width: 1200px;
  background-color: white;
}
.third-section .main-third-section-mall .title {
  display: flex;
  justify-content: space-between;
}
.third-section .main-third-section-mall .title h3 {
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 15px;
  position: relative;
}
.third-section .main-third-section-mall .title h3::before {
  content: "|";
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-53%);
  left: 125px;
  color: #c7c2c2;
}
.third-section .main-third-section-mall .title h3 img:not(:first-child) {
  width: 1.0625rem;
  margin-left: 15px;
  margin-right: 5px;
}
.third-section .main-third-section-mall .title h3 img:first-child {
  width: 1.0625rem;
  margin-left: 40px;
  margin-right: 5px;
}

.third-section .main-third-section-mall .describe {
  padding: 10px;
  display: flex;
  border-top: 1px solid rgb(245, 245, 245);
  position: relative;
}
main .third-section .main-third-section-mall .describe .swiper {
  max-width: 390px;
  margin: 0;
}
.third-section .main-third-section-mall .describe .prize {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.describe .prize .first-row-mall, .describe .prize .second-row-mall {
  display: flex;
  overflow: hidden;
  
}
.describe .prize .first-row-mall .column, .describe .prize .second-row-mall .column {
  width: 200px;
  padding: 10px;
  flex: 0 0 auto;
  position: relative;
}
.describe .prize .first-row-mall .column p, .describe .prize .second-row-mall .column p {
  position: absolute;
  bottom: 15px;
  left: 20%;
  color: #be2c12;
  font-size: 1.2rem;
}
.describe .prize .first-row-mall img, .describe .prize .second-row-mall img {
  width: 100%;
  height: 100%;
}
.describe .prize .second-row-mall h5 {
  text-align: center;
  position: relative;
  top: 50%;
  font-size: 16px;
  color: #be2c12;
}
.third-section .main-third-section-mall .describe .next{
  position: absolute;
  top: 50%;
  right: -15px;
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  background: white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
  transform: translateY(-50%);
}
.third-section .main-third-section-mall .describe .prize:hover .next {
  transform: scale(1.5) translateY(-20%);
}
.third-section .main-third-section-mall .describe  .previous{
  position: absolute;
  top: 50%;
  left: 385px;
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  background: white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 1;
  display: none;
}
.third-section .main-third-section-mall .describe .prize:hover .previous {
  transform: scale(1.5) translateY(-20%);
}

.four-section {
  background-color: rgb(245, 245, 245);
  padding-top: 20px;
}
.four-section .main-four-section-hotsearch {
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.four-section .main-four-section-hotsearch .title {
 display: flex;
 justify-content: space-between;
}
.four-section .main-four-section-hotsearch .title h3 {
 font-weight: 100;
 color: red
} 
.four-section .main-four-section-hotsearch .row-hotsearch {
  display: flex;
  overflow: hidden;
}
.four-section .main-four-section-hotsearch .row-hotsearch .column {
  width: 200px;
  padding-inline: 10px;
  flex: 0 0 auto;
  position: relative;
}
.main-four-section-hotsearch .row-hotsearch .column .column-top {
  width: 30px;
}
.main-four-section-hotsearch .row-hotsearch .column .column-imagie {
  width: 180px;
}
.row-hotsearch img {
  width: 100%;
  height: 100%;
}
.main-four-section-hotsearch .row-hotsearch .column .column-sell {
  position: absolute;
  bottom:79px;
  width: 100%;
}
.main-four-section-hotsearch .row-hotsearch .column .column-sell::before {
  content:attr(data-p);
  width: 90%;
  background-color: #cac8c8;
  color: white;
  position: absolute;
  text-align: center;
  z-index: 235;
}
.main-four-section-hotsearch .row-hotsearch .next {
  position: absolute;
  top: 50%;
  right: -1%;
  transform: translateY(100%);
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  background: white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
  z-index: 1;
}
.main-four-section-hotsearch .row-hotsearch .previous {
  position: absolute;
  top: 50%;
  left: -1%;
  transform: translateY(100%);
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
  background: white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.main-four-section-hotsearch .row-hotsearch:hover .next,
.main-four-section-hotsearch .row-hotsearch:hover .previous {
  transform: scale(1.5) translateY(70%);
}




.fifth-section {
  background-color: rgb(245, 245, 245);
  padding-top: 20px;
}
.fifth-section .main-fifth-section-body {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.fifth-section .main-fifth-section-body h3 {
  padding: 20px;
  border-bottom: 5px solid red;
  text-align: center;
  color: red;
  font-weight: 100;
  background-color: white;
  /* position: fixed; */
}
.fifth-section .main-fifth-section-body .main-fifth-section-body-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  padding-block: 5px;
}
.fifth-section .main-fifth-section-body .main-fifth-section-body-grid .column {
  position: relative;
  margin: 7px;
  background-color: white;
  transition: 0.2s;
  /* padding-bottom: 20px; */
}

.fifth-section .main-fifth-section-body .main-fifth-section-body-grid .column::after {
 content: attr(data-flash);
  position: absolute;
  bottom: 43px;
  font-size: 0.6rem;
  left: 7px;
  color: red;
  background: white;
  padding: 0px 4px;
}
.fifth-section .main-fifth-section-body .main-fifth-section-body-grid .column::before {
 content: "Tìm sản phẩm tương tự";
  position: absolute;
bottom: -22px;
left: -1px;
width: 96%;
background-color: red;
color: white;
text-align: center;
padding: 4px;
z-index: 1;
display: none;
}
.fifth-section .main-fifth-section-body .main-fifth-section-body-grid .column:hover::before {
  display: block;
}
.fifth-section .main-fifth-section-body .main-fifth-section-body-grid .column:hover{
  border: 2px solid red;
  transform: translateY(-5px);
}

.fifth-section .main-fifth-section-body .main-fifth-section-body-grid .column .second-img {
  position: absolute;
  top: 31px;
}
.fifth-section .main-fifth-section-body .main-fifth-section-body-grid .column .first-img button {
  margin: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding-inline: 2px;
  color: rgb(255, 38, 0);
  background: white;
  border: 1px solid rgb(255, 38, 0);
}
.fifth-section .main-fifth-section-body .main-fifth-section-body-grid .column .first-img button:hover {
  color: white;
background: rgb(255, 38, 0);
}
.fifth-section .main-fifth-section-body .main-fifth-section-body-grid .column img {
  width: 100%;
}
.fifth-section .main-fifth-section-body .main-fifth-section-body-grid .column .textOfFifthSection {
  font-size: 13px;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  overflow: hidden;
  white-space: pre-line;
  padding-inline: 7px;
  margin-bottom: 30px;
  text-overflow: ellipsis;
}

.fifth-section .main-fifth-section-body .main-fifth-section-body-grid .column .sold p:first-child {
  color: red;
}
.fifth-section .main-fifth-section-body .main-fifth-section-body-grid .column .sold p:last-child {
  color: rgb(105, 93, 93);
  font-size: 0.8rem;
}
.fifth-section .main-fifth-section-body .main-fifth-section-body-grid .column .sold {
 display: flex;
 justify-content: space-between;
 position: relative;
 padding: 5px 10px 5px 20px;
}


.fifth-section .main-fifth-section-body .main-fifth-section-body-grid .column .sold::before {
  content: "đ";
 position: absolute;
 color: red;
 top: -5px;
 left: 8px
}
.fifth-section .main-fifth-section-body .main-fifth-section-body-grid .column .sold::after {
  content: attr(data-sales);
  position: absolute;
  top: -25px;
  left: 7px;
  font-size: 0.7rem;
  color: white;
  background-color: orange;
}

main .btn {
  padding-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
  text-align: center;
}
main .btn button {
  min-width: 24.375rem;
  height: 2.5rem;
  background-color: white;
  border: 0.5px solid #d4cccc;
}
main .btn button:hover {
  background-color: rgb(243, 243, 243);
}


footer {
  text-align: justify;
  background-color: #ffffff;
}

footer .footer-first-section, footer .footer-second-section {
  padding-block: 70px;
  max-width: 1200px;
  margin: 0 auto;
}
footer .footer-first-section {
  border-bottom: 1px solid rgb(173, 173, 173);
}
footer .footer-first-section h4 {
  margin-block: 5px;
}
footer .footer-first-section p {
  font-size: 0.75rem;
  margin-block: 15px;
}
footer .footer-first-section ul li {
  font-size: 0.75rem;
  margin-block: 15px;
}
footer .footer-first-section a {
  font-size: 0.75rem;
  margin-block: 15px;
}

footer .footer-second-section .footer-flex-row {
  display: flex;
  gap: 20px;
}
footer .footer-second-section .footer-flex-row .footer-flex-column {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
footer .footer-second-section .footer-flex-row .footer-flex-column p, footer .footer-second-section .footer-flex-row .footer-flex-column span {
  font-size: 0.75rem;
}
footer .footer-second-section .footer-flex-row .footer-flex-column p {
  font-weight: bold;
}
footer .footer-second-section .footer-flex-row .footer-flex-column span {
  color: #514e4e;
}

footer .footer-third-section {
  background-color: #fbfbfb;
}
footer .footer-third-section .contact {
  background-color: #fbfbfb;
  padding-block: 40px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  color: #514e4e;
}
footer .footer-third-section .contact p {
  font-size: 0.9rem;
}
footer .footer-third-section .footer-flex-row {
  margin: 0 auto;
  max-width: 1200px;
  padding-block: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  justify-content: space-between;
  column-gap: 30px;
  border-bottom: 1px solid rgb(173, 173, 173);
}
footer .footer-third-section .footer-flex-row .footer-flex-column {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
footer .footer-third-section .footer-flex-row .footer-flex-column span, footer .footer-third-section .footer-flex-row .footer-flex-column p {
  font-size: 0.75rem;
}
footer .footer-third-section .footer-flex-row .footer-flex-column  p {
  font-weight: bold;
}
footer .footer-third-section .footer-flex-row .footer-flex-column  span {
  color: #514e4e;
}
footer .footer-third-section .footer-flex-row .footer-flex-column  span {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
footer .footer-third-section .footer-flex-row .footer-flex-column .payment {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
footer .footer-third-section .footer-flex-row .footer-flex-column .payment img {
  background-color: white;
  padding: 3px;
  margin: 5px;
  box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.5);
  -webkit-box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.5);
}

footer .footer-third-section .footer-flex-row .footer-flex-column .code-qr {
  display: flex;
  justify-content: space-between;
}
footer .footer-third-section .footer-flex-row .footer-flex-column .code-qr img {
  background-color: white;
  padding: 3px;
  margin: 5px;
  box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.5);
  -webkit-box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: -1px 4px 5px -1px rgba(0,0,0,0.5);
}
footer .footer-third-section .footer-flex-row .footer-flex-column .code-qr .app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-block: 4px;
}

footer .footer-fouth-section {
  background-color: #f5f5f5;
  text-align: center;
}
footer .footer-fouth-section p {
  font-size: 0.8rem;
  color: #514e4e;
  padding-block: 5px;
}
footer .footer-fouth-section .policy {
  padding-block: 40px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 10px;
}
footer .footer-fouth-section .policy .certificate {
 display: flex;
}
footer .footer-fouth-section .policy .certificate a {
  max-width: 100px;
}
footer .footer-fouth-section .policy .certificate img {
 width: 100%;
 display: inline-block;
}