.first__section {
    max-width: 1500px;
    width: 90%;
    margin: 0 auto;
}

.first__section article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.2rem;
}
.first__section article .left {
    display: flex;
    align-items: center;
}
.first__section article .left h3 {
    font-weight: bold;
    font-size: 1.5rem;
}
.first__section article .right {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
}

.first__section article .right ul {
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
}
.first__section article .right ul li {
    padding-block: 0.5rem;
    position: relative;
}

.first__section article .right ul li::before {
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 50px;
}
.first__section article .right ul li::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 50px;
}

.first__section article .right ul li:hover::before,
.first__section article .right ul li:hover::after {
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
}
.first__section article .right ul li:hover {
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.first__section article .right button {
    padding-block: 0.5rem;
    background-color: #4158d0;
    background-color: #ffe53b;
    background-color: #00dbde;
    background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);

    box-shadow: 0px 20px 24px 3px rgba(218, 71, 218, 0.42);

    border: none;
    border-radius: 5px;
    padding-inline: 1.3rem;
    color: white;
}
.first__section article .right button:hover {
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

/* Ẩn checkbox mặc định */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Thiết lập công tắc chế độ tối/sáng */
.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 25px;
    margin-left: 2rem;
}

/* Thiết lập thanh trượt */
.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 20px;
    transition: 0.4s;
}

/* Thiết lập trạng thái bật */
.slider:before {
    position: absolute;
    content: '';
    height: 81%;
    width: 43%;
    left: 4px;
    bottom: 3px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.25s;
}

/* Khi bật công tắc */
input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider:before {
    transform: translateX(22px);
}
