

@media screen and (max-width: 770px) {
    header {
        padding-inline-start: 5px;
    }

    .header-first > a i {
        font-size: 20px;
    }

    header .header-second .header-second-search {
        flex: 0;
    }

    .header-second-search input  {
        flex: 0;
    }

    .article-header .article-header-links a {
        font-size: 12px;
    }

    .article-header {
        top: 60px;
        padding-block-end: 10px;
    }
    /* ////////////////////    aside ////////////////// */
   
}