.six__section {
    margin: 0 auto;
    max-width: 1500px;
    width: 90%;
    margin-top: 100px;
}

/* article .swiper {
    overflow: visible;
} */
.portfolio__image {
    display: flex;
}
article .img {
    border-radius: 20px;
    overflow: hidden;
}
article .img img {
    width: 100%;
}
