* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

@media screen and (max-width: 1150px) {
  .nav__bar {
    right: 5%;
    top: 5px;
    display: block;
    width: 50px;
  }

  #previous,
  #next {
    display: none;
  }
  .sliderShow .slide .text {
    left: 45%;
  }
  .sliderShow .slide .text button:first-of-type,
  .sliderShow .slide .text button:last-of-type {
    padding: 10px;
  }
  .sliderShow .slide .text h2 {
    font-size: 1.6rem;
  }
  .sliderShow .slide .text p {
    font-size: 1.2rem;
  }
  #first__section article {
    flex-direction: column;
  }
  .sliderShow .slide img {
    width: 100%;
    height: 622px;
    object-fit: cover;
  }
  .header__nav section:first-child {
    margin-block: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__nav section:first-child ul {
    flex-direction: column;
    align-items: flex-start;
    display: none;
    width: 100%;
  }
  .header__nav section:first-child ul li {
    padding: 10px;
    margin-inline-start: 0px;
    width: 100%;
  }
  .header__nav section:first-child ul li:hover {
    width: 100%;
    color: black;
    background-color: white;
  }
  .header__nav section:first-child ul li:hover a {
    color: black;
  }
  #second__section {
    flex-direction: column;
    align-items: center;
  }
  #second__section article {
    width: 100%;
  }
  #second__section article:first-child img {
    height: 520px;
  }
  /* /////////////////////////////////////////////////////////////////////////////////////// */
  #four__section article {
    flex-direction: column;
    align-items: center;
  }
  #four__section article .news {
    margin-top: 60px;
    max-width: 500px;
  }
  /* ///////////////////////////////////////////////////////////////////////////////////// */
  #fifth__section .img__london img {
    width: 100%;
    height: 425px;
  }
  #fifth__section article .img__london .send p {
    font-size: 15px;
  }
  #fifth__section article .img__london .send form {
    width: 100%;
  }
  /* ///////////////////////////////////////////////////////////////////////////////////// */
  footer .end article {
    padding-inline: 20px;
  }
  footer section:first-child article .contact svg {
    width: 30px;
    height: 30px;
  }
  footer section:first-child article {
    width: 90%;
  }

  footer section:first-child article .contact h4 {
    font-size: 15px;
  }
  footer section:first-child article .contact p {
    font-size: 13px;
  }
  footer section:first-child article .border {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: none;
    border-bottom: none;
  }
}
/* //////////////////////////////////////////////////////////////// */

@media screen and (max-width: 600px) {
  .header__nav section:first-child ul li {
    padding: 5px 5px 5px 10px;
  }
  .header__nav section:first-child ul li a {
    font-size: 13px;
  }
  .header__nav section:first-child > a {
    font-size: 15px;
  }
  .sliderShow .slide .text {
    top: 60%;
  }
  .sliderShow .slide img {
    height: 295px;
  }
  .sliderShow .slide .text h2 {
    font-size: 13px;
  }
  .sliderShow .slide .text p {
    padding-block: 7px;
    font-size: 12px;
  }
  .sliderShow .slide .text button:first-of-type,
  .sliderShow .slide .text button:last-of-type {
    padding: 5px 12px;
    font-size: 12px;
  }
  .nav__bar {
    width: 25px;
  }
  /* ////////////////////////////////////////////////////////////////////////////////////// */
  #second__section {
    margin-top: 50px;
  }
  #second__section article:first-child img {
    width: 100%;
    height: 300px;
  }
  #second__section article .swiper__text {
    padding: 25px;
    row-gap: 15px;
  }
  #second__section article .swiper__text h2 {
    font-size: 16px;
  }
  #second__section article .swiper__text p,
  #second__section article .swiper__text span {
    font-size: 12px;
  }
  #second__section article .swiper__text button {
    padding: 7px 10px;
    font-size: 12px;
  }
  /* /////////////////////////////////////////////////////////////////////////////////////// */

  #third__section article {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-inline: 15px;
  }
  #third__section article .quantity h2 {
    font-size: 2rem;
  }
  /* ///////////////////////////////////////////////////////////////////////////////////// */
  #four__section article .news:first-child {
    margin-top: 30px;
  }
  #four__section article .news .product h5,
  #four__section article .news .product p {
    font-size: 10px;
  }
  #four__section,
  #fifth__section {
    margin-top: 60px;
  }

  /* /////////////////////////////////////////////////////////////////////////////////// */
  #fifth__section article .arrow {
    padding: 0;
    bottom: -13px;
  }
  #fifth__section article .arrow svg {
    width: 30px;
    height: 30px;
  }
  #fifth__section article .img__london .send {
    width: 100%;
  }
  #fifth__section article .img__london .send span {
    font-size: 23px;
  }
  #fifth__section article .img__london .send form {
    display: block;
    width: 100%;
  }
  #fifth__section article .img__london .send form input {
    margin-right: 0;
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
  }
  #fifth__section article .img__london .send form input,
  #fifth__section article .img__london .send form button {
    height: 2rem;
  }
  #first__section article .hobby .hobby__text p {
    font-size: 14px;
  }
  #fifth__section .img__london img {
    height: 245px;
    width: 100%;
  }
  /* /////////////////////////////////////////////////////////////////////////////////////// */
  footer section:first-child {
    padding-block: 70px;
  }
  footer section:first-child article {
    flex-direction: column;
    align-items: center;
  }
  footer .end article {
    flex-direction: column;
    row-gap: 10px;
  }
  footer section:first-child article .border {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
  }
}
