@media (max-width: 46.1875em) {
  /* Header ////////////////////////////////////////////////////////////////////////// */
  .header {
    overflow: hidden;
  }
  .header5,
  .main-ul > li,
  .main-ul > li > a {
    display: block;
  }

  .main-ul > li:first-child {
    display: inline-block;
  }

  .icon {
    display: none;
  }
  .mobile-menu {
    display: block;
  }

  .sub-ul {
    position: initial;
    background-color: #333;
    width: 100%;
  }

  .sub-ul > li > a {
    color: white;
    padding: 5px 40px;
  }
  /* Member /////////////////////////////////////////////////////////////////////////*/
  .member {
    display: block;
    padding-top: 50px;
  }
  .member .imagies > img {
    width: 60%;
    height: 15rem;
  }

  .imagies {
    padding: 0;
  }
  /* ///////////////////////////////////////////////////////////////////////////////// */
  .where .city1,
  .city2,
  .city3 {
    width: 100%;
  }
  /* ///////////////////////////////////////////////////////////////////////////////// */

  .form form {
    padding: 12px 0;
  }
  .form .row1 {
    width: 100%;
    display: block;
  }
  .form .row1 .email-of-row1 {
    margin: 8px 0;
  }
  .form .row1 .text-of-row1 input,
  .form .row1 .email-of-row1 input,
  .form .row2 .text-of-row2 input {
    width: 100%;
    border: 1px solid #ccc;
  }
  .form form button {
    width: 100%;
  }
}
