:root {
  --first-color: red;
  --second-color: orchid;
}

html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}

/* .imagies {
  background-image: url("https://scontent.fdad4-1.fna.fbcdn.net/v/t39.30808-6/297968930_2279445808861624_3043711000524166837_n.jpg?_nc_cat=110&cb=99be929b-59f725be&ccb=1-7&_nc_sid=174925&_nc_ohc=prHH_HoC7EwAX9CbVl1&_nc_ht=scontent.fdad4-1.fna&oh=00_AfDpoqx_BU70s6rV-Uw_LXNOIk-rekA1VHU4vaMikNmUtg&oe=64AF9026");
  width: 100%;
  height: 1200px;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} */
/* .yen {
  width: 20em;
  height: 20em;
  background-color: aqua;
}
.tam {
  outline: 2px solid red;
  background-color: orchid;
  width: 10rem;
  height: 10rem; 
  border: 2px solid blue; 
  border-radius: 50%;
}  */

.wrap {
  display: flex;
}
.yen {
  width: 10rem;
  height: 10rem;
  background-color: var(--second-color);
  margin-left: 20px;
  margin-right: 20px;
}

.tam {
  width: 10rem;
  height: 10rem;
  background-color: blue;
}

.a a {
  text-decoration: none;
  background-color: yellow;
}

.font {
  font-weight: 500;
  line-height: 1;
  /* max-width: 500px;
  text-align: justify; */
  letter-spacing: -2px;
  word-spacing: -2px;
  /* white-space: nowrap; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.image-wrap {
  text-align: center;
}
.image {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  object-position: bottom;
  /* display: block; */
  margin: 0 auto;
  border-radius: 50%;
}

.hover:hover {
  color: yellowgreen;
}

.hover:active {
  color: brown;
}

.hover:visited {
  color: red;
}

/* h1 {
  display: inline;
} */

/* @supports (-webkit-background-clip: text) {
  h1 {
    background-clip: text;
    background: linear-gradient(
      rgb(255, 74, 14),
      rgb(245, 135, 62),
      rgb(142, 162, 27)
    );
    color: transparent;
    -webkit-background-clip: text;
  }
}

.background {
  background: linear-gradient(
      rgba(255, 74, 14, 0.2),
      rgba(126, 62, 245, 0.2),
      rgba(81, 162, 27, 0.2)
    ),
    url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80');
  width: 80vh;
  height: 80vh;
}

.opacity-visi-displaynone {
  background: linear-gradient(
    rgb(234, 234, 23),
    rgb(23, 234, 23),
    rgb(32, 98, 9)
  );
  width: 20rem;
  height: 20rem;
  cursor: pointer;
  /* opacity: 0; */
/* visibility: hidden; */
/* display: none; */
/* } */

.shadow {
  --second-color: lightcoral;
  width: 12rem;
  height: 12rem;
  background-color: var(--second-color);
  margin: 20px auto;
  box-shadow: 20px 19px 39px 2px red;
}

#title {
  background-color: brown;
}
.title {
  background-color: blue;
}
*/
/* p.title {
  background-color: red;
}

p {
  font-size: large;
  background-color: orange;
} */

ul {
  font-weight: 200;
}

/* li:first-child {
  color: red;
}

li:last-child{
  color:aqua
}

li:nth-child(4) {
  color:rgb(255, 74, 14);
}

li:nth-last-child(2) {
  color: blue;
}

li:nth-child(even) {
  color: yellow;
}

li:not(:nth-child(3)) {
  color: green;
}


li:nth-child(2n + 2) {
  color: blueviolet;
} */

li:nth-child(3) {
  color: red;
}

li:nth-of-type(3) {
  color: blue;
}
p:first-child {
  color: rgb(23, 234, 23);
}

/* li:first-child span {
  color: red;
}*/

/* li:nth-of-type(3) span {
  color: green; 
} */

h1 ~ h3 {
  color: red;
}

a[href^='vl'] {
  color: black;
}

a[href*='xx'] {
  color: yellow;
}

/* a[href$="om"] {
  color: yellow
} */

a[href='gov.io'] {
  color: red;
}

p::first-letter {
  color: blue;
  font-size: 2rem;
}

p::first-line {
  color: rgb(23, 234, 23);
}

.transition {
  width: 25rem;
  height: 15rem;
  background-color: red;
  /* transition: background-color 1s linear, color 1s; */
  transition: all 0.9 linear;
  /* display: none; */
  opacity: 0;
}

.wrap {
  width: 50rem;
  height: 10rem;
}

/* .wrap:hover .transition {
  background-color: blue;
  color: white;
  /* display: none; 
} */

.transition:hover {
  color: cyan;
  background-color: lightsalmon;
  opacity: 1;
}

.wrap1 {
  margin-top: 100px;
}
.transform {
  margin-bottom: 50px;
  width: 10rem;
  height: 10rem;
  background-color: red;
  /* transform: translateX(70px) translateY(50px); */
  /* transform: translate(70px, 50px); */
  /* transform: rotate(50deg); */
  transform: rotateX(45deg) rotateY(45deg);
}
.transform1 {
  margin-bottom: 50px;
  width: 10rem;
  height: 10rem;
  background-color: blue;
  /* transform: rotateX(50deg); */
}
.transform2 {
  margin-bottom: 50px;
  width: 10rem;
  height: 10rem;
  background-color: yellow;
  transform: rotateY(50deg);
}
.transform3 {
  margin-bottom: 50px;
  width: 10rem;
  height: 10rem;
  background-color: black;
  transform: rotate(50deg);
}
/* .transform4 {
  margin-bottom: 50px;
  width: 10rem;
  height: 10rem;
  background-color: black;
  transform: rotateX(50deg)  rotateZ(50deg);
} */
.transform5 {
  margin-bottom: 50px;
  width: 10rem;
  height: 10rem;
  background-color: orange;
  /* transform: translate(50px, 70px); */
  /* transform: translate(5rem, 10rem); */
  /* transform: translateX(5rem); */
}

 .container {
  width: 100%;
  height: 30rem;
  background-color: black;
   /* position: absolute;  */
  position: relative;
} 

.boxed { 
  width: 5rem;
  height: 5rem;
  background-color: red;
  position: absolute;
  /* top: 50%;
  transform: translateY(-50%);  */
   /* width: auto;
  height: auto;
  top: 0;
  right: 0;
  left: 0; */
  bottom: 0; 
  height: auto;
  top: 0;
  bottom: 0;
  z-index: 3;
}

.container p {
  position: relative;
  z-index: 4;
 }  


.box {
  overflow: hidden;
}
.box img {
  width: 100%;
  height: 100%;
  transition: scale 1s;
}

.box img:hover {
  scale: 100%
}

