.fifth__section {
    margin: 0 auto;
    max-width: 1500px;
    margin-top: 100px;
    width: 90%;
    padding-bottom: 8rem;
}

.fifth__section article {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-block: 2rem;
    position: relative;
}

.fifth__section article .n__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
    align-items: start;
}
.fifth__section article .n__left a {
    text-decoration: none;
    padding: 8px 16px;
    background-color: orange;
    color: white;
    border-radius: 8px;
}
.fifth__section article .n__left h2 {
    font-size: 2rem;
    font-weight: bold;
}
.fifth__section article .n__left h2:first-of-type {
    color: rgb(63, 20, 163);
}
.fifth__section article .n__left h2:last-of-type {
    color: orange;
}
.fifth__section article .n__right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}


.fifth__section article .n__right .container {
    width: 25rem;
    height: 25rem;
    position: absolute;
    top: 0;
    right: 20%;
    background-color: white;
    border-radius: 50%;
    -webkit-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
    -moz-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
    box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
}

.fifth__section article .n__right .container > * {
    position: absolute;
}
.fifth__section article .n__right .container div:first-of-type {
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
}
.fifth__section article .n__right .container div:nth-child(2) {
    top: 50%;
    right: -15%;
    transform: translateY(-50%);
}
.fifth__section article .n__right .container div:nth-child(3) {
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}
.fifth__section article .n__right .container div:nth-child(4) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fifth__section article .n__right .container div:last-of-type {
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
}

.fifth__section article .n__right .container div {
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
    -moz-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
    box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
    z-index: 1;
    border: 5px solid white;
    background-color: white;
}

.blur__center__works {
    background: #0e95f0;
    position: absolute;
    width: 22rem;
    height: 15rem;
    border-radius: 50%;
    filter: blur(139px);
    z-index: -1;
    left: 10%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.circlel {
    width: 20rem;
    height: 20rem;
    position: absolute;
    border-radius: 100%;
    z-index: -1;
}
.blue__circle {
    position: absolute;
    border-radius: 100%;
    z-index: -1;
    background-color: #0e95f0;
    right: 0;
    bottom: 24%;
    right: 6%;
}
.yellow__circle {
    position: absolute;
    border-radius: 100%;
    z-index: -1;
    background-color: orange;
    right: 0;
    bottom: -26%;
    right: 6%;
}
