body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-family: system-ui, sans-serif;
}
body {
  background-color: rgb(153, 152, 152);
}
.App {
  background-color: white;
  padding: 20px;
  max-width: 550px;
  margin: 0 auto;
}
h1 {
  font-weight: 800;
  font-size: 2rem;
}
form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.1rem;
}
form input {
  flex: 1;
  margin-right: 20px;
  font-size: 1.1rem;
}
form input,
form button {
  height: 2rem;
  padding-inline: 10px;
}

h2 {
  margin-top: 1.1rem;
}
.finish {
  color: gray;
  text-decoration: line-through;
}
ul li {
  display: flex;
  align-items: center;
  padding-block: 0.6rem;
}
ul li input {
  width: 1.2rem;
  height: 1.2rem;
}
ul li span {
  flex: 1;
  margin-inline: 10px;
  font-size: 1.4rem;
}
ul li .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li .btn button:first-child {
  margin-right: 10px;
}
ul li .btn button {
  padding: 0.5rem;
}
