.second__section {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 100px;
    width: 90%;
}
.second__section article {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    position: relative;
}

.second__section article :is(.n__left, .n__right) {
    width: 50%;
}

.second__section article .n__left {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;
}
.second__section article .n__left h2:first-of-type {
    color: orange;
    text-shadow: rgba(240, 74, 9, 0.75) 20px 20px 23px;
}
.second__section article .n__left h2:last-of-type {
    color: rgb(63, 20, 163);
    text-shadow: rgba(13, 9, 240, 0.69) 20px 20px 23px;
}
.second__section article .n__left h2 {
    font-size: 3rem;
    font-weight: bold;
}

.second__section article .n__left button {
    padding-block: 0.5rem;
    background-color: #4158d0;
    background-color: #ffe53b;
    background-color: #00dbde;
    background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);

    box-shadow: 0px 20px 24px 3px rgba(218, 71, 218, 0.42);

    border: none;
    border-radius: 5px;
    padding-inline: 1.3rem;
    color: white;
    align-self: start;
}

.second__section article .n__left ul {
    display: flex;
    align-items: center;
    margin-top: 7rem;
    column-gap: 2rem;
}

.second__section article .n__left li {
    width: 2.5rem;
}
.second__section article .n__left li img {
    width: 100%;
}

.second__section article .n__right {
    position: relative;
}
.second__section article .n__right .image {
    position: absolute;
    right: -10%;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.second__section article .n__right .image .image__wrapper {
    position: absolute;
    top: 0;
    transform: scale(0.8);
}
.second__section article .n__right .image .boy {
    position: absolute;
    top: 68px;
    left: 50%;
    transform: translateX(-50%) scale(1.7);
}
.second__section article .n__right .container {
    animation: moveDown 2s ease-in-out infinite;
}
/* ///////////////////////////////////////////////////////////////////////////////////// */
.crown {
    position: absolute;
    display: flex;
    align-items: center;
}
.data img {
    transform: scale(0.5);
}
.data {
    background-color: white;
    -webkit-box-shadow: 0px 10px 17px 0px rgba(62, 66, 66, 0.25);
    -moz-box-shadow: 0px 10px 17px 0px rgba(62, 66, 66, 0.25);
    box-shadow: 0px 10px 17px 0px rgba(62, 66, 66, 0.25);
    height: 5rem;
    padding-inline-end: 2rem;
    animation: moveLeft 5s ease-in-out infinite;
}
.start {
    right: 7%;
    top: 0;
    animation: moveUp 2s ease-in-out infinite;
    background-color: white;
    -webkit-box-shadow: 0px 10px 17px 0px rgba(62, 66, 66, 0.25);
    -moz-box-shadow: 0px 10px 17px 0px rgba(62, 66, 66, 0.25);
    box-shadow: 0px 10px 17px 0px rgba(62, 66, 66, 0.25);
    height: 5rem;
    padding-inline-end: 2rem;
}
.start img {
    transform: scale(0.5);
}
.emoji {
    bottom: -100px;
    left: -20%;
    animation: moveUp 2s ease-in-out infinite;
}

.emoji img {
    transform: scale(1);
}

@keyframes moveUp {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(45px);
    }
}
@keyframes moveDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-45px);
    }
}
@keyframes moveLeft {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-200px);
    }
}

.blur__right {
    background: #ce13ff;
    position: absolute;
    width: 22rem;
    height: 15rem;
    border-radius: 50%;
    filter: blur(139px);
    z-index: -1;
    right: -65px;
}
.blur__center {
    background: #0e95f0;
    position: absolute;
    width: 22rem;
    height: 15rem;
    border-radius: 50%;
    filter: blur(139px);
    z-index: -1;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
