.third__section article {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}
.third__section article .container__company {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.third__section article .container__company .img__Company {
    width: 9rem;
}
.third__section article .container__company .img__Company img {
    width: 100%;
}
